dev:
  STAGE: dev
  MSA_BASE_URL: "http://localhost:3030"
  MPP_CLIENT_NAME: "Sample Company"
  MPP_CLIENT_APP_ID: "00000000-0000-0000-0000-000000000000"
  SSM_PARAM_NS: ${self:custom.ssmParamNamespace}
  SNS_TOPIC_ARN:
    Ref: ClientCustomApiTopic
  SNS_INTERNAL_TOPIC_ARN:
    'Fn::ImportValue': 'MPPClientsInternalTopicArn-dev'
  DEFAULT_NOTIFY_RETRIES_THRESHOLD: 10
  REINVOKER_FUNCTION_ARN:
    'Fn::ImportValue': 'ReinvokerFunctionArn-dev'
  SQS_FAILED_QUEUE_URL:
    'Fn::ImportValue': 'LambdaRetriesQueueURL-dev'
  RSI_TOKEN_URL: 'https://authorize.accessrsi.com/connect'
  RSI_BASE_URL: 'https://svc.accessrsi.com/api'
  CLIENT_ID: 'marketpowerpro'
  CLIENT_SECRET: '#@ArT-5126!'
  CLIENT_GRANT_TYPE: 'password'
  CLIENT_USERNAME: 'marketpowerpro.com'
  CLIENT_PASSWORD: 'z!Bl2c#$a'
prod:
  STAGE: prod
  MSA_BASE_URL: "https://sql-adapter.marketpowerpro.com"
  MPP_CLIENT_NAME: "Sample Company"
  MPP_CLIENT_APP_ID: "00000000-0000-0000-0000-000000000000"
  SSM_PARAM_NS: ${self:custom.ssmParamNamespace}
  SNS_TOPIC_ARN:
    Ref: ClientCustomApiTopic
  SNS_INTERNAL_TOPIC_ARN:
    'Fn::ImportValue': 'MPPClientsInternalTopicArn-prod'
  DEFAULT_NOTIFY_RETRIES_THRESHOLD: 10
  REINVOKER_FUNCTION_ARN:
    'Fn::ImportValue': 'ReinvokerFunctionArn-prod'
  SQS_FAILED_QUEUE_URL:
    'Fn::ImportValue': 'LambdaRetriesQueueURL-prod'
